.home {
  background-color: white;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0rem 0rem -4rem;
  /* //margin: -1rem -10rem -1rem 0rem; */
  /* padding-right: 1.5rem;
  padding-bottom: 1rem; */
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  width: 60%;
  padding: 30px;
  gap: 2rem;
}
.triangle-right {
  width: 100%;
  background-color: #ffe55b;
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 85% 52%, 25% 0%);
  height: 100%;
  /* margin: -1rem -1rem 0rem 0rem; */
  padding: 4rem;
  position: fixed;
}

@media screen and (max-width: 640px) {
  .home {
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .text {
    width: 100%;
    padding: 0;
    text-align: center;
    /* height: 60%; */
    margin-bottom: auto;
    gap: 4rem;
  }
  .triangle-right {
    display: none;
  }
}
